// Colors

$white: white;
$lightWhite: #f1f1f1;
$lightBlue: #1877f2;
$red: red;
$gray: gray;
$green: green;
$lightGray: #555;
$fbWhite: #f0f2f5;
$fbBlue: #1775ee;
$fbGreen: #42b72a;

$topbarBgColor: $lightBlue;
$topbarTextColor: $white;
$notifyBadgeColor: $red;

// Height

$topbarHeight: 50px;